<a href="https://colab.research.google.com/github/sneharajput10/Data_Analyst_/blob/main/data_structure_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("SNEHA RAJPUT")

SNEHA RAJPUT

In [ ]:
print(len("hello world"))

11

In [ ]:
hello_string = "python programming"
str_slice = hello_string[0:3]
print(str_slice)

pyt

In [ ]:
lower_case= "hello"
print(lower_case.upper())

HELLO

In [ ]:
str1="I LIKE APPLE"
print(str1.replace("APPLE","ORANGE"))

I LIKE ORANGE

In [ ]:
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list1=[1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
list1=[1,2,3,4,5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
list1=["a","b","c","d"]
print(list1[1])

b

In [ ]:
list1=[10,20,30,40,50]
list2=list1[::-1]
print(list2)

[50, 40, 30, 20, 10]

In [ ]:
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
tuple1=("red","green","blue","yellow")
print(tuple1[len(tuple1)-2])

blue

In [ ]:
list1=[10,20,5,15]
list1.sort()
print(list1[len(list1)-1])

20

In [ ]:
tuple1=('dog','cat','rabbit')
print(tuple1.index("cat"))

1

In [ ]:
tuple1=('apple','orange','grapes','plum','banana')
print("kiwi" in tuple1)

False

In [ ]:
set1={'a','b','c'}
print(set1)

{'b', 'a', 'c'}

In [ ]:
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

In [ ]:
set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
dict1 = {"name":"sneha","age":23,"city":"Lucknow"}  # key:value pairs
print(dict1)

{'name': 'sneha', 'age': 23, 'city': 'Lucknow'}
<class 'dict'>

In [ ]:
dict1={"name":"John","age":25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
dict1={"name":"alice","age":30,}
print(dict1["name"])

alice

In [ ]:
dict1={"name":"Bob","age":23,"city":"New York"}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
l1=[1,2,3,4,5,6]
t1=(1,2,3,4,5,6)
d1={"a":1,"b":2,"c":3,"d":4,"e":5}
print(l1,"\n",t1,"\n",d1)

[1, 2, 3, 4, 5, 6]
 (1, 2, 3, 4, 5, 6)
 {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
dict1={"name":"Alice","city":"Paris"}
if "city" in dict1.keys():
  print(True)
else:
  print(False)

True

In [ ]:
import random
l1=[]
for i in range(0,5):
  l1.append(random.randint(1,100))
print(sorted(l1))  #sorted() returns a new sorted list but doesn't change the original list

[22, 35, 41, 76, 99]
[22, 76, 35, 99, 41]
[22, 35, 41, 76, 99]

In [ ]:
l1=["john","alice","bob","patrick","patricia"]
print(l1[3])

patrick

In [ ]:
dict1={"name":"sneha","age":23}
dict2={"city":"lucknow"}

merged = dict1 | dict2
print(merged)

{'name': 'sneha', 'age': 23, 'city': 'lucknow'}

In [ ]:
l1=["sneha","mayur","anjali","muskaan"]
s1=set(l1)
print(s1)

{'sneha', 'muskaan', 'anjali', 'mayur'}